<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Demo Web App test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="638263">  <td>21/05/21 00:50:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserLoginTests.ClientLoginTest()[pri:0, instance:Tests.UserLoginTests@3c0f93f1]">ClientLoginTest</td> 
  <td>TestNG-tests-1@1914293805</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/05/21 00:50:46</td>   <td>26527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserLoginTests.DesignerLoginTest()[pri:0, instance:Tests.UserLoginTests@3c0f93f1]">DesignerLoginTest</td> 
  <td>TestNG-tests-1@1914293805</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>21/05/21 00:49:49</td>   <td>-30450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.LaunchApplication()[pri:0, instance:Tests.UserLoginTests@3c0f93f1]">&gt;&gt;LaunchApplication</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1914293805</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>21/05/21 00:49:49</td>   <td>-30414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.LaunchApplication()[pri:0, instance:Tests.TestCase@209da20d]">&gt;&gt;LaunchApplication</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1544298625</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>21/05/21 00:50:32</td>   <td>12186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.LaunchApplication()[pri:0, instance:Tests.UserLoginTests@3c0f93f1]">&gt;&gt;LaunchApplication</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1914293805</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>21/05/21 00:50:56</td>   <td>35755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.LaunchApplication()[pri:0, instance:Tests.TestCase@209da20d]">&gt;&gt;LaunchApplication</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1544298625</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>21/05/21 00:50:59</td>   <td>38875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.LaunchApplication()[pri:0, instance:Tests.UserLoginTests@3c0f93f1]">&gt;&gt;LaunchApplication</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1914293805</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/05/21 00:51:06</td>   <td>45902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserLoginTests.ManagerLoginTest()[pri:0, instance:Tests.UserLoginTests@3c0f93f1]">ManagerLoginTest</td> 
  <td>TestNG-tests-1@1914293805</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>21/05/21 00:50:20</td>   <td>-72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.TaskCreationTest(java.lang.Object)[pri:0, instance:Tests.TestCase@209da20d]">TaskCreationTest</td> 
  <td>TestNG-tests-2@1544298625</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>21/05/21 00:51:06</td>   <td>46188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.TaskCreationTest(java.lang.Object)[pri:0, instance:Tests.TestCase@209da20d]">TaskCreationTest</td> 
  <td>TestNG-tests-2@1544298625</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>21/05/21 00:50:31</td>   <td>10924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:Tests.UserLoginTests@3c0f93f1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1914293805</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>21/05/21 00:50:55</td>   <td>34815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:Tests.TestCase@209da20d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1544298625</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>21/05/21 00:50:57</td>   <td>36762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:Tests.UserLoginTests@3c0f93f1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1914293805</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>21/05/21 00:51:16</td>   <td>56200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:Tests.UserLoginTests@3c0f93f1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1914293805</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>21/05/21 00:51:29</td>   <td>69077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:Tests.TestCase@209da20d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1544298625</td>   <td></td> </tr>
</table>
